/**
 * A Horizon header is composed of a title, separator and a description
 * EX: <header class="horizon-header">
 *			<h2 class="title">I'm the <span>Horizon</span></h2>
 *			<span class="sep"></span>
 *			<p class="desc">Our work is your satisfaction</p>
 *		</header>
 */
.horizon-header{
	text-align: center;
	.title {
		font-family: 'Open Sans', sans-serif;
		color: #9f9f9f;
		font-size: 40px;
		font-weight: bold;
		text-transform: uppercase;
		span {
			color: $secondaryColor;
		}
	}

	.sep {
		width: 325px;
		height: 3px;
		background-color: $secondaryColor;
		display: block;
		margin: 10px auto;
	}

	.desc {
		color: #9f9f9f;
		font-size: 16px;
		font-weight: 700;
		margin: 15px 0;
	}
}

/**
 * Default button styles
 */
.horizon-btn {
	box-sizing: content-box;
	background-color: $secondaryColor;
	padding: 22px 32px;
	color: $primaryColor;
	font-size: 16px;
	font-weight: 700;
	transition: background-color $hover-transition-time;

	&:link, &:visited, &:hover, &:active {
		text-decoration: none;
		color: $primaryColor;
		text-decoration: none;
	}
	&:hover {
		background-color: $darkColor;
	}
}

/**
 * We have two styles for blockquote, the default and the cite blockquote.
 */
blockquote {
	padding: 0;
	margin: 0 auto;
	border: none;
	&:not(.cite) {
		color: #9f9f9f;
		font-size: 17px;
		font-weight: 700;
		text-align: center;
		position: relative;
		width: 90%;
		&:before, &:after {
			width: 20px;
			height: 17px;
			display: block;
			content: '*';
			text-indent: -9999px;
			position: absolute;
		}
		&:before {
			top:-10px;
			left: -23px;
			background: url('assets/images/quote-open.png') no-repeat;
		}
		&:after {
			bottom:-10px;
			right: -23px;
			background: url('assets/images/quote-close.png') no-repeat;
		}
	}

	&.cite {
		text-align: left;
		font-size: 24px;
		font-weight: 600;
		color: $primaryColor;
		max-width: 665px;
		text-align: justify;
		p {
			margin-bottom: 25px;
		}
		footer {
			&:before{
				color: $primaryColor;
			}
			border-top: 2px solid $secondaryColor;
			padding-top: 20px;
			cite {
				color: $primaryColor;
				font-family: 'Open Sans', sans-serif;
				font-size: 14px;
				font-weight: 600;
				text-transform: uppercase;
				font-style: normal;
			}
		}
	}
}


.no-padding {
	margin: 0 !important;
	padding: 0 !important;
}
