/**
 * Variables configuration.
 */

// Custom Boostrap variables.
$icon-font-path: '../fonts/bootstrap/';
$bootstrap-sass-asset-helper: false;

// Boostrap Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Theme colors
$primaryColor: #fff;
$secondaryColor: #aac54b;
$darkColor: rgba(41, 44, 46, 0.9);
$ligthGray: #9f9f9f;

// Template variables
$text-margin-bottom: $line-height-computed / 2;
$header-height: 128px;

$hover-transition-time: 0.3s;

