/**
 * Variables configuration.
 */

// Custom Boostrap variables.
$icon-font-path: '../fonts/bootstrap/';
$bootstrap-sass-asset-helper: false;

// Boostrap Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Template variables
$text-margin-bottom: $line-height-computed / 2;

// Theme colors
$primaryColor: #aac54b;
$secondaryColor: #aac54b;
$darkColor: rgba(41, 44, 46, 0.9);
