/*
 * We need this wrapper class to crop the image, without this wrapper class
 * firefox and opera have issues with overflow:hidden
 */
.wrapper-banner {
	width: 100%;
	overflow: hidden;
	margin:0 !important;
	float:left;
}

#banner {
	position: relative;
	display: table;
	width: 100%;
	height: 939px;
	> img {
		max-height: 100%;
		position: absolute;
		top: 0;
	}
	.wrapper-description {
		display: table-cell;
    	vertical-align: middle;
		width: 100%;
		position: relative;
		z-index: 100;
		.description {
			margin: 0 auto;
			width: 650px;
			position: relative;
			text-align: center;
			color: $primaryColor;

			.horizon-icon {
				position: relative;
				left: 40px;
			}

			h1 {
				font-size: 61px;
				font-weight: 700;
				text-transform: uppercase;
				span {
					color: $secondaryColor;
				}
			}

			p {
				font-size: 31px;
				font-weight: 400;
			}
		}
	}
}

@media (min-width: 1920px) {
  #banner  {
  	> img {
  		width: 100%;
  		max-height: none;
  	}
  }
}


#main-content {
	background-color: $primaryColor;
	float:left;
	width: 100%;
	> section {
		width: 100%;
		float:left;
	}
}

#about {
	padding: 115px 0;
	text-align: center;

	.horizon-btn {
		margin-top: 10px;
	}
}

.joker-sep, .skills {
	background-color: #292c2e;
	height: 450px;
}

.joker-sep {
	background-color: #292c2e;
	height: 450px;
	.left {
		max-height: 450px;
		overflow: hidden;
	}
	.right {
		display: table;
		height: 450px;
		.wrapper-blockquote {
			display: table-cell;
			vertical-align: middle;
		}

		blockquote.cite {
			width: 70%;
		}
	}
}

.skills {
	.left {
		padding: 100px 70px;
		margin: 0;
		@media(max-width: $screen-xs-min) {
			padding-left: 10px;
		}
	}
	.right {
		max-height: 450px;
		overflow: hidden;
	}
	@media(max-width: $screen-xs-max) {
		height: auto;
	}

}

.skills-list {
	padding: 0 0 50px 0;
	border-bottom : 2px solid $secondaryColor;
	float:left;
	overflow: hidden;
	li {
		cursor: pointer;
		list-style-type: none;
		color: #FFF;
		font-size: 14px;
		font-weight: 600;
		margin-bottom: 50px;
		position: relative;
		&:last-child {
			margin-bottom: 0;
		}
		&:hover .dashicons {
			color: $secondaryColor;
		}
		.dashicons {
			padding: 0;
			position: absolute;
			top: 0;
			left: 0;
			color: #666;
		}
		span {
			display: block;
			padding-left: 30px;
		}
		h5 {
			margin: 0 0 3px 0;
			padding: 0;
			text-transform: uppercase;
		}
		p {
			color: #797979;
			font-size: 12px;
			font-weight: 400;
			margin: 0;
			padding:0;
		}
		@media(max-width: $screen-xs-max) {
			min-height: 90px;
		}
		@media(max-width: $screen-xs-min) {
			min-height: 120px;
		}

	}
}

#services {
	padding: 110px 0 90px 0;

	.service {
		text-align: center;

		.service-wrapper {
			max-width: 230px;
			padding: 60px 0;
			margin: 0 auto;
			cursor: pointer;

			.service-icon {
				font-size: 80px;
				width: 80px;
				height: 80px;
				-webkit-transition: color .3s;
				transition: color .3s;
			}

			h4 {
				color: $ligthGray;
				font-size: 16px;
				font-weight: 700;
				margin: 40px 0 0;
			}

			.sep {
				display: block;
				margin: 20px auto 30px;
				max-width: 230px;
				height: 1px;
				background: $ligthGray;
				-webkit-transition: background .3s;
				transition: background .3s;
			}

			p {
				font-size: 12px;
				color: $ligthGray;
			}

			&:hover {
				.service-icon {
					color: $secondaryColor;
				}

				.sep {
					background: $secondaryColor;
				}
			}

		}
	}
}

#clients {
	height: 595px;
	.container {
		padding: 120px 0;
		border-top: 10px solid #f1f1f1;
	}

	.carousel {
		margin: 60px 0 0 0;
		float: left;
		overflow: hidden;
		.item {
	  		img {
	  			display: block;
		 	 	height: auto;
		 	 	margin: 0 auto;
	  		}
		}

		.owl-pagination {
			margin-top: 25px;
		}
	}
}

/**
 * Portfolio Section
 */
.portfolio {
	padding: 110px 0 110px 0;

	.menu {
		display: block;
		width: 100%;
		text-align: center;
		margin: 40px 0 0;

		ul {
			padding: 0;
			margin: 0;
		}
	}

	.menu-item {
		display: inline-block;

		a {
			text-decoration: none;
		}

		&:after {
			background-color: $secondaryColor;
			content: '';
			display: inline-block;
			height: 14px;
			margin: 0 20px;
			width: 3px;
		}

		&:last-child:after {
			display: none;
		}

		&:hover > .menu-item-link:after {
			content: none;
		}
	}

	.menu-item-link {
		color: $ligthGray;
		padding-top: 0;
		padding-bottom: 0;
		text-transform: capitalize;
		font-weight: bold;

		&:hover {
			color: $secondaryColor;
		}
	}
}
.portfolio-list {
	clear: both;
	margin: 115px 0;
	padding: 0;
	.portfolio-item {
		margin: 0;
		padding: 0;
		position: relative;
		img {
			max-width: 100%;
			width: 100%;
		}
		.portfolio-item-caption {
			background-color: $darkColor;
			bottom: 0;
			color: #fff;
			opacity: 0;
			padding: 20px;
			position: absolute;
			text-align: center;
			width: 100%;
			.portfolio-item-title {
				font-weight: bold;
				padding-right: 5px;
				text-transform: uppercase;
				&::before{
					content: '';
					display: inline-block;
					width: 3px;
					height: 14px;
					background-color: $secondaryColor;
					margin-right: 10px;
				}
			}
			.portfolio-item-description {
				margin: 0;
				color: $ligthGray;
			}
			@media (max-width: $screen-md-min) {
				opacity: 1;
			}
		}
		&:hover {
			.portfolio-item-caption {
				opacity: 1;
				transition: opacity $hover-transition-time;
			}
		}
	}
}

.load-more {
	clear: both;
	text-align: center;
}

/* Contact section */
#contact {
	position: relative;
	.contact-form{
		padding: 20px 40px;
		z-index: 1;
		-webkit-box-shadow: 6px 0px 6px -5px rgba(0, 0, 0, 0.4);
		-moz-box-shadow:    6px 0px 6px -5px rgba(0, 0, 0, 0.4);
		box-shadow: 		6px 0px 6px -5px rgba(0, 0, 0, 0.4);
		&::after {
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			margin-right: -60px;
			margin-top: 30px;
			top: 50%;
			right: 0px;
			box-sizing: border-box;
			border: 30px solid black;
			border-color: transparent transparent #fff #fff;
			transform-origin: 0 0;
			transform: rotate(-135deg);
			-webkit-box-shadow:	-3px 3px 2px 0 rgba(0, 0, 0, 0.3);
			-moz-box-shadow: 	-3px 3px 2px 0 rgba(0, 0, 0, 0.3);
			box-shadow: 		-3px 3px 2px 0 rgba(0, 0, 0, 0.3);
			@media (max-width: $screen-md-min) {
				display: none;
			}
		}
		@media (max-width: $screen-sm-min) {
			padding: 20px 10px;
		}
	}
}


#map{
	height: 450px;
}
